<div class="home-container" [class.expanded]="isSidebarCollapsed">
    <app-navigation-bar (pageSelected)="onPageSelected($event)" (sidebarToggled)="onSidebarToggled($event)"></app-navigation-bar>

    <div  *ngIf="selectedPage === 'home'"  class="home-content">
      <h1>Bienvenue sur la page d'accueil !</h1>
      <p>Vous êtes connecté.</p>
      <button (click)="logout()">Se déconnecter</button>
    </div>

    <div *ngIf="selectedPage === 'films'">
      <!-- Contenu de la page Films -->
      <h1>Films</h1>
      <p>Voici une liste de films.</p>
    </div>

    <div *ngIf="selectedPage === 'series'">
      <!-- Contenu de la page Films -->
      <h1>series</h1>
      <p>Voici une liste de series.</p>
    </div>

    <div *ngIf="selectedPage === 'discover'">
      <!-- Contenu de la page Films -->
      <h1>discover</h1>
      <p>Voici une liste de discover.</p>
    </div>

    <div *ngIf="selectedPage === 'user'">
      <!-- Contenu de la page user -->
      <h1>user</h1>
      <p>Voici une liste de user.</p>
  </div>
</div>
  